<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billionaire Shopping Game</title>
</head>
<body>
    {% load socialaccount %}
    <h1>Billionaire Shopping Game</h1>
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }} !</p>
    <a href="logout">Logout</a>
    {% else %}
    <a href="{% provider_login_url 'google' %}">Login with Google</a>
    {% endif %}
    {% load static %}
    <a href="javascript:(function() {let script = document.createElement('script'); script.src = '{% static 'js/bookmarklet.js' %}'; document.body.appendChild(script);})();">Bookmarklet</a>
    <a href="javascript: (() => {alert('Hello');})();">Helo alert</a>
    <img width="100px" src="{% static 'images/heart.png' %}">
    <div>
        <form method="POST" action="/">
            {% csrf_token %}
            <label for="url_link">Item Link:</label>
            <input type="text" id="url_link" name="url_link">
            <button type="submit">BUY</button>
        </form>

        {% for image in images %}
        <img src="{{ image }}">
        {% endfor %}
    </div>
    <p>Hello. This is Hoko Le.</p>
    {% block content %}{% endblock content %}
</body>
</html>